---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1>404 <br> Page not found <br> :(</h1>
</Layout>

<style>
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 120%;
        color: var(--color-primary);
        margin-top: 20rem;

        text-align: center;
    }
</style>