---
import ContactForm from "./ContactForm.astro"
---
<footer class="footer">
    <ContactForm />
    <!-- <div class="links">
        <a href="https://github.com/stars/anka1010/lists/projects"><img src="../assets/icons/github.svg" alt=""></a>
        <a href="mailto:"><img src="../assets/icons/email.svg" alt=""></a>
    </div> -->
    <p>Ann Lou 2025</p>
</footer>

<style>
     .footer {
        max-width: 144rem;
        height: 100.04rem;
        margin: 0 auto;
        background: no-repeat url('./images/footer.svg');
        background-position: bottom;

        .links {
            margin: 0 auto;
            margin-top: 5.6rem;
        }

        p {
            font-family: 'Nunito', sans-serif;
            font-size: 1.6rem;
            font-weight: 400;
            text-align: center;
            color: var(--color-secondary-medium);
            margin-top: 3.2rem;
        }
     }
</style>