---

---
<a href="/" class="logo">Ann Lou</a>

<style>
    .logo {
        font-size: 1.8rem;
        font-family: 'Comfortaa', sans-serif;
        font-weight: 700;
        color: var(--color-secondary-high);
    }
</style>