---
import vectorImg from '../assets/images/home-vector.svg';
import shapeImg from '../assets/images/home-shape.svg';
import { Image } from 'astro:assets';
---
<div class="showcase">
    <div class="showcase-text">
        <h2>Web developer</h2>
        <h1>Hello, my name is Ann Lou</h1>
        <p>Short text with details about you, what you do or your professional career. You can add more information on the about page.</p>
        <a href="#projects" class="btn btn-primary">Projects</a>
        <a href="https://github.com/stars/anka1010/lists/projects" class="btn btn-secondary">GitHub</a>
    </div>
    <div class="showcase-image">
        <Image src={shapeImg} alt="" class="shape" />
        <Image src={vectorImg} alt="" class="vector" />
    </div>
</div>

<style>
    .showcase {
        max-width: 120rem;
        margin: 0 auto;
        display: flex;
        gap: 10.2rem;
        align-items: start;
        justify-content: space-between;
        
        .showcase-text {
            max-width: 48.6rem;
            margin-top: 5.5rem;

            h1 {
                font-family: 'Playfair Display', serif;
                font-size: 6.4rem;
                font-weight: 700;
                line-height: 120%;
                color: var(--color-secondary-high);
                margin-bottom: 3.2rem;
            }

            h2 {
                font-family: 'Nunito', sans-serif;
                font-size: 2rem;
                font-weight: 700;
                color: var(--color-primary);
                text-transform: uppercase;
                margin-bottom: 1.2rem;
            }

            p {
                font-family: 'Nunito', sans-serif;
                font-size: 2.4rem;
                font-weight: 400;
                line-height: 150%;
                color: var(--color-secondary-medium);
                margin-bottom: 3.2rem;
            }

            .btn:not(:last-child) {
                margin-right: 1.2rem;
            }

        }

        .showcase-image {
            width: 72rem;
            height: 62.9rem;
            position: relative;
            overflow: hidden;
            margin-right: -10.8rem;

            .shape {
                width: 97.7rem;
                height: 87.7rem;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 5;
            }

            .vector {
                width: 68.4rem;
                height: 55.5rem;
                position: absolute;
                top: 0.9rem;
                left: 1.3rem;
                z-index: 10;
            }
        }
    }

</style>